@model OnlineMobileShop.Entity.User

@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>
<table>
<tr>
<td>
            @Html.Label("UserID")
</td>
<td>
            @Html.TextBoxFor(Model => Model.userID)
</td>
</tr>
<tr>
<td>
            @Html.Label("Name")
</td>
<td>
            @Html.TextBoxFor(Model => Model.name)
</td>
</tr>
<tr>
<td>
            @Html.Label("PhoneNumber")
</td>
<td>
            @Html.TextBoxFor(Model => Model.phoneNumber)
</td>
</tr>
<tr>

<td>
            @Html.Label("Gender")
</td>
<td>
            @Html.EnumDropDownListFor(Model=>Model.gender,"Select gender")

</td>
</tr>
<tr>
<td>
            @Html.Label("MailID")
</td>
<td>
            @Html.TextBoxFor(Model => Model.mailID)
</td>
</tr>
<tr>
<td>
            @Html.Label("Password")
</td>
<td>
            @Html.TextBoxFor(Model => Model.password)
</td>
</tr>
<tr>
<td>
<input type="button" value="Summit" />
</td>
</tr>
</table>

